.html{
      background-color: #E5E5E5;;
}

.background{
      background-color: #F1F3FF;
     
}

.font{
      font-family:  Helvetica, sans-serif;
      font-size: 18px;
}

.nav-font{
      color: black;
      font-weight: 400;
      font-size: 14px;
}
button.nav-font.font{
      color: white;
}

.btn-logo{
      width: 100px;
      height: 34px;
      background-color: #0D28A6;
}

.btn-second{
      background-color: #5CB85F;
      color: white;
}


.banner-text{
      margin-top: 90px;
      font-size: 36px;
      font-weight: bold;
      
}


.gambar{
     margin-left: auto;
      
}

.section-header button{
      width: 200px;
      font-size: 14px;
      font-weight: 700;
}
.our-section{
      margin-top: 104px;     
}
.img-service{
      width: 459px;
      height: 428x;
      padding-left: 30px;
}

.section-info p{
      font-family:  Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
      margin-top: 24px;
}
.section-info h2{
      font-family:  Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
}

.section-info-2 p{
      font-family:  Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
      display: inline-block;
      margin-left: 16px;
      margin-top: -10px;

}

.why-ous{
      margin-top: 100px;
     
     
}
.why-ous h2{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
}
.why-ous p{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
}

.card-why-us{
      max-width: 300px;
      min-height: 280px;
      padding: 10px;
}
.card-body h6{
      margin-top: 16px
}



@media only screen and (max-width: 600px) {
      .ukuran_gambar{
            width: 400px;
            height: 250px;
      }

      .gambar{
            margin-top: 24px;
            display: flex;
            justify-content: center;
           
         
      }

      .section-header{
            margin-top: -50px;
      }

      .section-header h2,p{
            padding: 10px;
      }

      .section-header button{
            margin-left: 5px;
      }

      .our-section{
            margin-top: 50px;
      }
      .section-info{
            margin-top: 30px;
      }

    }
