.html{
      background-color: #E5E5E5;;
}

.background{
      background-color: #F1F3FF;
     
}

.font{
      font-family:  Helvetica, sans-serif;
      font-size: 18px;
}

.nav-font{
      color: black;
      font-weight: 400;
      font-size: 14px;
}
button.nav-font.font{
      color: white;
}

.btn-logo{
      width: 100px;
      height: 34px;
      background-color: #0D28A6;
}

.btn-second{
      background-color: #5CB85F;
      color: white;
}


.banner-text{
      margin-top: 90px;
      font-size: 36px;
      font-weight: bold;
      
}


.gambar{
     margin-left: auto;
      
}

.section-header button{
      width: 200px;
      font-size: 14px;
      font-weight: 700;
}
.our-section{
      margin-top: 104px;     
}
.img-service{
      width: 459px;
      height: 428x;
      padding-left: 30px;
}

.section-info p{
      font-family:  Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
      margin-top: 24px;
}
.section-info h2{
      font-family:  Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
}

.section-info-2 p{
      font-family:  Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 300;
      display: inline-block;
      margin-left: 16px;
      margin-top: -10px;

}

.why-ous{
      margin-top: 100px;
     
     
}
.why-ous h2{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
}
.why-ous p{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
}

.card-why-us{
      max-width: 300px;
      min-height: 280px;
      padding: 10px;
}
.card-body h6{
      margin-top: 16px
}

.testimonial-heading{
      margin-top: 50px;
}
.testimonial-heading h2{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
}
.testimonial-heading p{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
}
.testimonial-content{
      margin-top: 40px;
}
.card-testimonial{
      min-width: 200px;
      min-height: 270px;
      background: #F1F3FF;

}

.img-testimonial{
      margin-top: auto;
      margin-bottom: auto;
}
.testimonial-content-card{
      padding-top: 50px;
      margin-left: 46px;
}
.testimonial-content-card p{
      margin-top: 8px;
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
}
.testimonial-content-card p.user{
      font-family: 'Helvetica';
      font-weight: bold;
      font-size: 14px;
}

.btn-circle-previous {
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      text-align: center;
      font-size: 12px;
      line-height: 1.42857;
      background-image: url(img/Left-button.png);
      margin-right: 24px;
      
  }

  .btn-circle-next {
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      text-align: center;
      font-size: 12px;
      line-height: 1.42857;
      background-image: url(img/Right-button.png);
   
  }

  .getting-started{
      margin-top: 100px;
      max-width: 1200px;
      min-height: 350px;
      background-color:#0D28A6;
      ;
      padding-top: 62px;
      
  }
  .getting-started h2{
      color: white;
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
  }

  .getting-started p{
      color: white;
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      margin-top: 20px;
  }

  .getting-started button{
      background-color: #5CB85F;
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: white;
      padding: 8px 10px 8px 12px;
      width: 160px;
      height: 36px;
      margin-top: 32px;

  }


  .section-faq{
      margin-top: 104px;
  }

  .section-faq h2{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      
  }

  .section-faq p{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
  }
  .accordion-item button{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
  }

  .section-footer{
      margin-top: 150px;
      
  }
  .section-footer p{
      font-family: 'Helvetica';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
  }
  
  .footer-img{
      margin-right: 16px;
  }
 
  .accordion-section{
      padding-left: 100px;
  }

  .accordion-text{
      margin-left: -100px;
  }

  .btn-footer{
      background-color: #0D28A6;
      width: 100px;
      height: 34px;
      
  }

@media only screen and (max-width: 600px) {
      .ukuran_gambar{
            width: 400px;
            height: 250px;
      }

      .gambar{
            margin-top: 24px;
            display: flex;
            justify-content: center;
           
         
      }

      .section-header{
            margin-top: -50px;
      }

      .section-header h2,p{
            padding: 10px;
      }

      .section-header button{
            margin-left: 5px;
      }

      .our-section{
            margin-top: 50px;
      }
      .section-info{
            margin-top: 30px;
      }

      .getting-started{
            margin-top: 100px;
            min-width: 400px;
            min-height: 320px;
            background-color:#0D28A6;
            ;
            padding-top: 62px;
            
        }

        .getting-started button{
            margin-top: 12px;
        }

        .section-footer{
            margin-top: 60px;
            
        }
        .copy-right-footer{
            margin-top: 16px;
        }

    }
